---
const { titulo, descripcion, saber, link } = Astro.props;
---

<div
  class="bg-white rounded-2xl transition-all duration-200 transform hover:scale-105 hover:shadow-lg px-10 py-8 flex flex-col"
>
  <div class="grow">
    <div class="text-blue-900 mb-6">
      <slot />
    </div>
    <h1 class="font-serif font-bold text-xl text-blue-950 justify-self-start">
      {titulo}
    </h1>
    <h2 class="mt-4 text-start">{descripcion}</h2>
  </div>
  <a
    href={`/Involucrate#${link}`}
    class="text-blue-900 cursor-pointer hover:text-black mt-4 py-2 flex justify-self-start items-start"
  >
    {saber}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 ml-2 mt-1"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"></path>
    </svg>
  </a>
</div>
