---
const {titulo, parrafo, color} = Astro.props;
---


<div class="bg-gray-50 rounded-2xl transition-all duration-200 transform hover:scale-105 shadow-lg">
    <div class={`h-56 flex items-center justify-center relative overflow-hidden ${color} rounded-t-2xl`}>
        <div class="absolute inset-0"></div>
           <slot />
    </div>
       <div class="p-8">
      <h1 class="font-serif font-bold text-blue-950 text-xl justify-self-start mb-4">{titulo}</h1>
      <h2 class="text-start text-gray-700">{parrafo}</h2>
       </div>
</div>