---
const {numero, titulo} = Astro.props;
---

<div class=" bg-gray-50 p-6 rounded-xl shadow-lg space-y-4">
    <p class="font-bold text-3xl text-blue-900">{numero}</p>
    <p class="text-gray-700"><slot/></p>
</div>


