---
const { titulo, descripcion, explorar } = Astro.props;
---

<div
  class="bg-gray-50 rounded-2xl px-8 py-8 transition-all duration-200 transform hover:scale-105 hover:shadow-lg"
>
  <div class="flex flex-col h-full">
    <div class="grow h-full">
      <div class="text-blue-900 pb-4">
        <slot />
      </div>
      <h1 class="font-serif font-bold text-blue-950 text-xl justify-self-start">
        {titulo}
      </h1>
      <h2 class="mt-4 text-start text-gray-700">{descripcion}</h2>
    </div>
  </div>
</div>
