
<section class="relative bg-gray-100 py-16 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold text-gray-800">Áreas de Necesidad</h2>
    <div class="bg-yellow-500 w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
    <p class="text-xl  max-w-3xl mx-auto mb-16">
      Estas son las regiones de América Latina donde trabajamos para llevar la Palabra de Dios a idiomas aún sin traducción bíblica.
    </p>

    <div class="relative w-260 h-220 rounded-2xl shadow-xl justify-self-center">
      <img
        src="https://img.freepik.com/vector-gratis/mapa-mundo-negro-limpio-diseno-plantilla-estilo-silueta_1017-46154.jpg?semt=ais_hybrid&w=740"
        alt="Mapa"
        class="absolute inset-0 w-240 h-auto mt-10 object-center justify-self-center"
      />
      <h1 class="bg-gray-200">38
       Idiomas sin traducción</h1>

      <h1 class="bg-gray-200">6.5M+
          Personas sin acceso</h1>

      <h1 class="bg-gray-200">12
      Proyectos en progreso</h1>
      
    </div>
     <div class="mt-20 text-center animate-fade-in">
        <a href="/necesidad" class="inline-flex bg-blue-700 hover:bg-blue-900 items-center justify-center text-white font-semibold py-3 px-8 rounded-xl transition-all duration-200 transform hover:scale-105 hover:shadow-lg">
            Ver Todos los Proyectos &rarr;
        </a>
    </div>
</section>