---
import Area from "./Tarjetas/TarjetaAreas.astro"; 
--- 

<section class="relative bg-gray-50 py-16 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto text-center">
      <h2 class="text-4xl font-serif font-bold text-gray-800 mt-8">Áreas de Necesidad</h2>
      <div class="bg-yellow-500 w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
      <p class="text-lg mx-auto mb-16 text-gray-800 max-w-3xl">
        Estas son las regiones de América Latina donde trabajamos para llevar la Palabra de Dios a idiomas aún sin traducción bíblica.
      </p>
      <div class="bg-white rounded-2xl mt-20 justify-self-center items-center px-10 py-10 shadow-lg">
          <img src="https://static.vecteezy.com/system/resources/previews/021/156/481/non_2x/black-and-white-world-map-free-vector.jpg" class="w-full h-auto object-cover" alt="Mapa del mundo">

          <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center mt-8">
            <Area numero="38" 
            titulo="Idiomas sin traducción"/>
            <Area numero="6.5M+" 
            titulo="Personas sin acceso"/>
            <Area numero="12" 
            titulo="Proyectos en progreso"/>
          </div>  
      </div>
        <div class="mt-12 text-center animate-fade-in">
          <a href="/necesidad" class="inline-flex bg-blue-800 hover:bg-blue-900 items-center justify-center text-white font-semibold py-3.5 px-5 rounded-xl transition-all duration-200 transform hover:scale-105 hover:shadow-lg">
              Ver Todos los Proyectos
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2 mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
          </a>
        </div>
  </div>
</section>