---
const { class:className,...props } = Astro.props;
---

<a
  {...props}
  class={"inline-flex bg-blue-800 hover:bg-blue-900 items-center justify-center text-white font-semibold py-4 px-8 rounded-xl transition-all duration-200 transform hover:scale-105 hover:shadow-lg " + 
    className}
  ><slot />
</a>
