---
import { Book } from '@lucide/astro';
---

<section>
    <div class="min-h-screen bg-blue-50 flex flex-col items-center justify-center text-center space-y-6">
      <div class="bg-blue-400 rounded-full p-5 text-white">
        <Book size="50"/>
      </div>
      <span class="font-bold text-5xl">Historias</span>
      <p class="text-xl text-gray-700">Testimonios reales del impacto transformador de la traducción bíblica en comunidades indígenas</p>
    </div>
</section>
