---
import { Heart } from "@lucide/astro";
---

<section
  class="bg-gradient-to-br from-blue-50 to-blue-300 min-h-screen flex flex-col items-center justify-center text-center space-y-4"
>
  <div class="bg-blue-600 px-4 py-4 rounded-full text-white mb-8">
    <Heart size="35" />
  </div>
  <span class="text-5xl font-bold">Conoce Nuestro</span>
  <span class="text-5xl font-bold text-blue-600 pb-8">Ministerio</span>
  <p class="text-xl text-gray-600 max-w-2xl p-2">
    Comprometidos a llevar el evangelio a las comunidades de Latinoamérica y de
    países de lengua portuguesa
  </p>
</section>
