---
import { Book } from "@lucide/astro";
import { FolderKanban } from "@lucide/astro";
---

<section>
  <div
    class="min-h-screen bg-blue-50 flex flex-col items-center justify-center text-center space-y-8"
  >
    <div class="bg-blue-500 rounded-full p-5 text-white">
      <FolderKanban size="50" />
    </div>
    <span class="font-bold text-6xl">Proyectos</span>
    <p class="text-xl text-gray-700">
      Conoce el avance de la Iglesia en la producción de recursos abiertos para
      la traducción bíblica
    </p>
  </div>
</section>
