 

<section class="relative min-h-screen flex items-center justify-center overflow-hidden">
    <div class="absolute inset-0 bg-black opacity-40 z-10"></div> 
    <div class="absolute inset-0">
        <img src="https://observatorio.tec.mx/wp-content/uploads/2022/05/iStock-1141509628.jpeg" alt="imagen-menu" class="object-cover w-full h-full" />
    </div>

    <div class="container relative text-center z-20 px-4">
            <h1 class="text-4xl md:text-6xl font-serif font-bold text-white leading-tight"> Traduciendo las escrituras
            <span class="text-yellow-300 block sm:inline">Transformando Vidas</span> </h1>
        <p class="mt-6 text-lg md:text-2xl text-white text-center max-w-6xl mx-auto"> Empoderando comunidades alrededor del mundo con la Palabra de Dios en su idioma materno, construyendo iglesias maduras que transforman comunidades.
        </p>
        <div class="mt-10 flex flex-col sm:flex-row justify-center gap-6"> <a href="/projects" class="inline-flex items-center justify-center bg-white hover:bg-gray-200 text-blue-950 font-semibold py-4 px-10 rounded-xl transition-all duration-200 transform hover:scale-105 shadow-lg">
                Nuestros Proyectos
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2 mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                </a>
            <a href="/get-involved" class="inline-flex items-center justify-center bg-yellow-400 hover:bg-yellow-500 text-blue-950 font-semibold py-4 px-10 rounded-xl transition-all duration-200 transform hover:scale-105 shadow-lg">
                Involúcrate
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2 mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </a>
        </div>
    </div>
</section>