---
import Impactos from "./Tarjetas/TarjetaImpacto.astro";
---

<section class="relative bg-gray-50 py-16 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-serif font-bold text-gray-800">Nuestro Impacto</h2>
    <div class="bg-secondary w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
    <p class="text-lg mx-auto mb-16 text-gray-700">
      Alcance del trabajo que Dios ha puesto en nuestras manos.
    </p>

    <div
      class="justify-center gap-8 max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4"
    >
      <Impactos
        numero="11"
        titulo="proyectos en progreso"
        descripcion="Desarrollamos tres proyectos al idioma puente español, uno al portugués y siete de Otras Lenguas indígenas."
      />

      <Impactos
        numero="10"
        titulo="comunidades capacitadas"
        descripcion="Diez comunidades indígenas han participado en la capacitación inicial sobre el uso de herramientas de traducción."
      />

      <Impactos
        numero="3"
        titulo="países con acceso"
        descripcion="Ya se ha logrado entrada a tres países de Latinoamérica."
      />

      <Impactos
        numero="5"
        titulo="comunidades beneficiadas"
        descripcion="Trabajando en más de 45 países, colaborando con iglesias locales y comunidades."
      />
    </div>

    <div
      class="bg-blue-50/50 max-w-170 rounded-2xl shadow-lg p-4 justify-self-center items-center mt-16 px-6"
    >
      <h1 class="font-bold text-2xl mt-4">
        ¿Quieres ser parte de este impacto?
      </h1>
      <h2 class="text-md text-gray-700 mt-4">
        Cada donación, oración y persona que se une a nuestro equipo, contribuye
        a que más personas tengan acceso a la Palabra de Dios en su idioma.
      </h2>
      <div class="flex justify-center gap-4 py-3">
        <div class="mt-8 text-center">
          <a
            class="donateBtn cursor-pointer inline-flex bg-blue-900 hover:bg-blue-950 items-center justify-center text-white font-semibold py-3 px-6 rounded-md transition-all duration-200 transform hover:scale-105 hover:shadow-lg"
          >
            Donar ahora
          </a>
        </div>
        <div class="mt-8 text-center">
          <a
            href="/Involucrate"
            class="inline-flex bg-white hover:bg-gray-100 text-blue-900 border-1 border-blue-900 items-center justify-center font-semibold py-3 px-6 rounded-md transition-all duration-200 transform hover:scale-105 hover:shadow-lg"
          >
            Únete como Voluntario
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
