
<section class="relative bg-gray-100 py-16 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold text-gray-800">Involúcrate</h2>
    <div class="bg-yellow-500 w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
    <p class="text-xl max-w-3xl mx-auto mb-16 leading-relaxed">
    Hay muchas maneras de ser parte de esta misión transformadora. Descubre cómo puedes contribuir.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-center gap-15 max-w-6xl mx-auto">
        <div class="bg-white w-95 h-80 rounded-2xl transition-all duration-200 transform hover:scale-105 hover:shadow-lg px-4 py-6">
            <h1 class="font-bold text-xl text-blue-950">Únete al Equipo</h1>
            <h2 class="mt-4">Explora oportunidades para servir como traductor, capacitador o en otros roles clave.</h2>
        </div>

        <div class="bg-white w-95 h-80 rounded-2xl transition-all duration-200 transform hover:scale-105 hover:shadow-lg px-4 py-6">
            <h1 class="font-bold text-xl text-blue-950">Apoya Financieramente</h1>
            <h2 class="mt-4">Tu donación hace posible la traducción bíblica y el crecimiento de la iglesia en comunidades necesitadas.</h2>
        </div>

        <div class="bg-white w-95 h-80 rounded-2xl transition-all duration-200 transform hover:scale-105 hover:shadow-lg px-4 py-6">
            <h1 class="font-bold text-xl text-blue-950">Ora con Nosotros</h1>
            <h2 class="mt-4">Únete a nuestra red de oración y apoya el trabajo de traducción bíblica a través de la intercesión.</h2>
        </div>
    </div>
        <div class="bg-blue-950 w-300 h-70 rounded-2xl mt-20 justify-self-center items-center px-4 py-6">
            <h1 class="text-white font-bold text-2xl mt-4">¿Listo para Hacer la Diferencia?</h1>
            <h2 class="text-white mt-4 max-w-2xl text-center justify-self-center">Tu participación puede transformar vidas y comunidades. Únete a nosotros en esta misión de llevar la Palabra de Dios a todos los idiomas.</h2>

            <div class="flex justify-center gap-4 ">
                <div class="mt-10 text-center">
                    <a href="/impacto" class="inline-flex bg-white hover:bg-gray-200 items-center justify-center text-black font-semibold py-3 px-8 rounded-lg transition-all duration-200 transform hover:scale-105 hover:shadow-lg">
                        Contáctanos
                    </a>
                </div>

                <div class="mt-10 text-center">
                    <a href="/impacto" class="inline-flex bg-yellow-500 hover:bg-yellow-600 items-center justify-center text-black font-semibold py-3 px-8 rounded-lg transition-all duration-200 transform hover:scale-105 hover:shadow-lg">
                        Donar Ahora
                    </a>
                </div>
            </div>
        </div>
    

</section>