
<section class="relative bg-gray-100 py-16 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-extrabold text-gray-800 sm:text-5xl">Involúcrate</h2>
    <div class="bg-yellow-500 w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
    <p class="text-xl text-gray-600 max-w-3xl mx-auto mb-16 leading-relaxed">
    Hay muchas maneras de ser parte de esta misión transformadora. Descubre cómo puedes contribuir.
    </p>

<div class="flex flex-wrap justify-center gap-8 max-w-6xl mx-auto">
    <div class="bg-gray-300 w-90 h-50 rounded-2xl">
        <h1>Únete al Equipo</h1>
        <h2>Explora oportunidades para servir como traductor, capacitador o en otros roles clave.</h2>
        
    </div>

<div class="bg-gray-300 w-90 h-50 rounded-2xl">
        <h1>Apoya Financieramente</h1>
        <h2>Tu donación hace posible la traducción bíblica y el crecimiento de la iglesia en comunidades necesitadas.</h2>
        
    </div>

<div class="bg-gray-300 w-90 h-50 rounded-2xl">
        <h1>Ora con Nosotros</h1>
        <h2>Únete a nuestra red de oración y apoya el trabajo de traducción bíblica a través de la intercesión.</h2>
        
    </div>

<div class="bg-blue-950 w-300 h-90 rounded-2xl mt-10 justify-self-center items-center">
     <h1>¿Listo para Hacer la Diferencia?</h1>
     <h2>Tu participación puede transformar vidas y comunidades. Únete a nosotros en esta misión de llevar la Palabra de Dios a todos los idiomas.</h2>

<div class="mt-20 text-center animate-fade-in">
        <a href="/impacto" class="inline-flex bg-white items-center justify-center text-black font-semibold py-3 px-8 rounded-lg transition-all duration-200 transform hover:scale-105 hover:shadow-lg">
            Contáctanos
        </a>
    </div>

<div class="mt-20 text-center animate-fade-in">
        <a href="/impacto" class="inline-flex bg-yellow-500 items-center justify-center text-black font-semibold py-3 px-8 rounded-lg transition-all duration-200 transform hover:scale-105 hover:shadow-lg">
            Donar Ahora
        </a>
    </div>

    </div>

    </section>