---
import { BookOpen } from "@lucide/astro";
---

<section>
  <div
    class="min-h-screen bg-gradient-to-br from-blue-700 to-blue-900 flex flex-col items-center justify-center text-center space-y-8 p-4"
  >
    <div class="bg-blue-400/20 rounded-full p-4 text-white">
      <BookOpen size="35" />
    </div>
    <span class="font-bold text-6xl text-blue-100">Recursos</span>
    <p class="text-xl text-blue-100">
      Conoce los recursos que la iglesia global ofrece abiertamente a la iglesia
      nativa para traducir la Biblia al idioma de su corazón
    </p>
  </div>
</section>
