---
import { BookOpen } from '@lucide/astro';
---

<section>
    <div class="min-h-screen bg-blue-900 flex flex-col items-center justify-center text-center space-y-8">
      <div class="bg-blue-400/20 rounded-full p-5 text-white">
        <BookOpen size="50"/>
      </div>
      <span class="font-bold text-6xl text-blue-100">Recursos</span>
      <p class="text-xl text-blue-100">Traducción al idioma puente</p>
    </div>
</section>