---
import Proyecto from "./Tarjetas/TarjetaProyectos.astro";
---

<section class="relative bg-white py-16 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto text-center">
      <h2 class="text-4xl font-serif font-bold text-gray-800 mt-8">Nuestros Proyectos</h2>
      <div class="bg-yellow-500 w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
      <p class="text-lg mx-auto mb-16 text-gray-800 max-w-3xl">
        Trabajando en comunidades alrededor del mundo para traducir las Escrituras y fortalecer la iglesia local.
      </p>

    <div class="grid grid-cols-1 md:grid-cols-2 justify-items-center gap-8 max-w-6xl mx-auto">
      <Proyecto titulo="Traducción del Nuevo Testamento"
        subtitulo="Idioma Maya K'iche'"
        progreso="Progreso de traducción"
        porcentaje="75%"
        descripcion="Proyecto de traducción del Nuevo Testamento al idioma Maya K'iche', beneficiando a más de 1 millón de hablantes."
        conoce="Conoce más sobre este proyecto"
        imagen="https://images.pexels.com/photos/5905498/pexels-photo-5905498.jpeg"/>
        
      <Proyecto titulo="Capacitación de Líderes"
        subtitulo="Región Andina"
        progreso="Progreso de traducción"
        porcentaje="60%"
        descripcion="Programa de formación para líderes de iglesias locales, enfocado en el discipulado y la plantación de iglesias."
        conoce="Conoce más sobre este proyecto"
        imagen="https://images.pexels.com/photos/5905498/pexels-photo-5905498.jpeg"/> 
    
      <Proyecto titulo="Alfabetización Bíblica"
        subtitulo="Amazonía"
        progreso="Progreso de traducción"
        porcentaje="45%"
        descripcion="Iniciativa de alfabetización que combina la enseñanza de lectura y escritura con el estudio bíblico."
        conoce="Conoce más sobre este proyecto"
        imagen="https://images.pexels.com/photos/5905498/pexels-photo-5905498.jpeg"/> 
    </div>

    <div class="mt-20 text-center">
        <a href="/necesidad" class="inline-flex bg-blue-900 hover:bg-blue-950 items-center justify-center text-white font-semibold py-3 px-7 rounded-md transition-all duration-200 transform hover:scale-105 hover:shadow-lg">
            Ver Todos los Proyectos
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2 mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
        </a>
    </div>
</section>