
<section class="relative bg-gray-100 py-16 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-extrabold text-gray-800 sm:text-5xl">Recursos Disponibles</h2>
    <div class="bg-yellow-500 w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
    <p class="text-xl text-gray-600 max-w-3xl mx-auto mb-16 leading-relaxed">
      Herramientas y materiales para apoyar el trabajo de traducción bíblica y el crecimiento de la iglesia.
    </p>

<div class="flex flex-wrap justify-center gap-8 max-w-6xl mx-auto">
    <div class="bg-gray-300 w-90 h-75 rounded-2xl">
        <h1>Guías de Estudio Bíblico </h1>
        <h2>Materiales de estudio bíblico adaptados para diferentes contextos culturales y niveles de alfabetización.</h2>
        
    </div>

<div class="bg-gray-300 w-90 h-75 rounded-2xl">
        <h1>Herramientas de Traducción</h1>
        <h2>Recursos y software especializado para apoyar el proceso de traducción bíblica en diferentes idiomas.</h2>
        
    </div>

<div class="bg-gray-300 w-90 h-75 rounded-2xl">
        <h1>Capacitación en Liderazgo</h1>
        <h2>Programas de formación para líderes de iglesias locales, enfocados en el discipulado y la plantación de iglesias.</h2>
        
    </div>
</div>

<div class="mt-20 text-center animate-fade-in">
        <a href="/impacto" class="inline-flex bg-blue-800 items-center justify-center text-white font-semibold py-4 px-8 rounded-lg transition-all duration-200 transform hover:scale-105 hover:shadow-lg">
            Ver todos los Recursos &rarr;
        </a>
    </div>

</section>