
<section class="relative bg-blue-100 py-16 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold text-gray-800">Red de Oración</h2>
    <div class="bg-yellow-500 w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
    <p class="text-xl text-gray-600 mx-auto mb-16 leading-relaxed">
      Únete a nuestra red global de intercesión y sé parte del avance del Reino de Dios a través de la oración.
    </p>
    
<div class="flex flex-wrap justify-center gap-8 max-w-6xl mx-auto">
    <div class="bg-white w-90 h-50 rounded-xl px-4 py-6 shadow-lg">
        <h1 class="font-bold text-xl text-blue-950">Oración por Traductores </h1>
        <h2 class="mt-4">Ora por sabiduría y protección para nuestros equipos de traducción trabajando en áreas remotas.</h2>
        
    </div>

    <div class="bg-white w-90 h-50 rounded-xl px-4 py-6 shadow-lg">
        <h1 class="font-bold text-xl text-blue-950">Oración por Comunidades</h1>
        <h2 class="mt-4">Intercede por las comunidades que están recibiendo la Palabra de Dios en su idioma por primera vez.</h2>
        
    </div>

   <div class="bg-white w-90 h-50 rounded-xl px-4 py-6 shadow-lg">
        <h1 class="font-bold text-xl text-blue-950">Oración por Recursos</h1>
        <h2 class="mt-4">Pide por provisión de recursos y financiamiento para continuar con los proyectos de traducción.</h2>
        
    </div>

   <div class="bg-white shadow-lg w-170 h-60 rounded-xl mt-10 justify-self-center items-center px-4 py-6">
     <h1 class="font-bold text-2xl ">Recibe Nuestras Guías de Oración</h1>
     <h2 class="mt-4">Suscríbete para recibir actualizaciones semanales de oración y guías específicas para interceder por nuestros proyectos. </h2>

   <div class="mt-10 text-center animate-fade-in">
        <a href="/impacto" class="inline-flex bg-blue-900 hover:bg-blue-950 items-center justify-center text-white font-semibold py-3 px-8 rounded-lg transition-all duration-200 transform hover:scale-105 hover:shadow-lg">
            Suscribirse
        </a>
    </div>


</div>
</section>