
<section class="relative bg-gray-100 py-16 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-extrabold text-gray-800 sm:text-5xl">Red de Oración</h2>
    <div class="bg-yellow-500 w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
    <p class="text-xl text-gray-600 max-w-3xl mx-auto mb-16 leading-relaxed">
      Únete a nuestra red global de intercesión y sé parte del avance del Reino de Dios a través de la oración.
    </p>
    
<div class="flex flex-wrap justify-center gap-8 max-w-6xl mx-auto">
    <div class="bg-gray-300 w-90 h-50 rounded-2xl">
        <h1>Oración por Traductores </h1>
        <h2>Ora por sabiduría y protección para nuestros equipos de traducción trabajando en áreas remotas.</h2>
        
    </div>

<div class="bg-gray-300 w-90 h-50 rounded-2xl">
        <h1>Oración por Comunidades</h1>
        <h2>Intercede por las comunidades que están recibiendo la Palabra de Dios en su idioma por primera vez.</h2>
        
    </div>

<div class="bg-gray-300 w-90 h-50 rounded-2xl">
        <h1>Oración por Recursos</h1>
        <h2>Pide por provisión de recursos y financiamiento para continuar con los proyectos de traducción.</h2>
        
    </div>

<div class="bg-blue-200 w-160 h-60 rounded-2xl mt-10 justify-self-center items-center">
     <h1>Recibe Nuestras Guías de Oración</h1>
     <h2>Suscríbete para recibir actualizaciones semanales de oración y guías específicas para interceder por nuestros proyectos. </h2>

<div class="mt-20 text-center animate-fade-in">
        <a href="/impacto" class="inline-flex bg-blue-900 items-center justify-center text-white font-semibold py-3 px-8 rounded-lg transition-all duration-200 transform hover:scale-105 hover:shadow-lg">
            Suscribirse
        </a>
    </div>


</div>
</section>