---
import Redes from "./Tarjetas/TarjetaRed.astro";
import { BookType, HandCoins } from "@lucide/astro";
---

<section class="relative bg-blue-50/50 py-16 px-4">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-serif font-bold text-gray-800">Red de Oración</h2>
    <div class="bg-secondary w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
    <p class="text-xl text-gray-600 mx-auto mb-16 leading-relaxed">
      Únete a nuestra red global de intercesión y sé parte del avance de la
      traducción bíblica a numerosos idiomas a través de la oración
    </p>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-center items-center gap-8 max-w-6xl mx-auto"
    >
      <Redes
        titulo="Ora por Traductores"
        descripcion="Hay una necesidad creciente de traductores bilingües entre inglés, español y portugués, junto con especialistas en los idiomas bíblicos originales que aporten profundidad y precisión al proceso. Tu apoyo en oración puede abrir camino para que más personas respondan a este llamado."
        ><BookType size="20" />
      </Redes>

      <Redes
        titulo="Ora por las Comunidades"
        descripcion="En Latinoamérica y en la Comunidad de países de lengua portuguesa, muchas lenguas indígenas siguen vivas en la voz de sus pueblos, pero aún esperan recibir la Palabra en el idioma que les es más íntimo y profundo. Acompaña en oración a estas comunidades."
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
          ></path>
        </svg></Redes
      >

      <Redes
        titulo="Ora por Recursos"
        descripcion="Contribuye con tu oración para que Dios provea los recursos necesarios para el desarrollo del proyecto. Desde el sostenimiento de misioneros hasta la formación de nuevos traductores y especialistas, cada aporte es vital para que las comunidades indígenas reciban la Palabra en su idioma."
        ><HandCoins size="20" />
      </Redes>
    </div>
    <div
      class="bg-white shadow-lg rounded-xl mt-15 justify-self-center items-center py-6 px-6 my-4 flex flex-col max-w-170 w-full"
    >
      <h1 class="font-bold text-2xl">Recibe nuestro boletín</h1>
      <h2 class="mt-4 text-gray-600">
        Suscríbete para recibir actualizaciones semanales de oración y guías
        específicas para interceder por nuestros proyectos.
      </h2>
      <div
        class="flex justify-center gap-4 mt-4 px-4 md:flex-row flex-col w-full"
      >
        <input
          type="email"
          placeholder="Correo electrónico"
          class="mt-4 p-3 flex-1 grow rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <div class="text-center">
          <a
            href="/Contacto"
            class="inline-flex bg-blue-900 hover:bg-blue-950 mt-4 items-center justify-center text-white font-semibold py-3 px-8 rounded-md transition-all duration-200 transform hover:scale-105 hover:shadow-lg"
          >
            Suscribirse
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
