---
import Container from './Container.astro';
import TestamentoProyectos from './TestamentoProyectos.astro';
const {proyectos} = Astro.props;
---

<section class="min-h-screen">
    <Container>
        <div class="space-y-4">
            <h1 class="text-3xl font-bold text-center">Los 66 Libros de la Biblia</h1>
            <p class="text-lg text-gray-700 max-w-2xl flex justify-center items-center text-center mx-auto">Cada libro representa un proyecto de traducción y distribución único. Seguimos el progreso de cada uno
                para completar la Gran Comisión
            </p>
        </div>
        <TestamentoProyectos
           proyectos={proyectos.antiguoTestamento}
           titulo="Antiguo Testamento"
            />
        <TestamentoProyectos
          proyectos={proyectos.nuevoTestamento}
           titulo="Nuevo Testamento"
            />
    </Container>
</section>