---
import { Languages } from '@lucide/astro';
import { Heart } from '@lucide/astro';
import { Users } from '@lucide/astro';

---

<section class="min-h-screen bg-gray-100">
    <div class="bg-blue-950 rounded-xl p-8 text-center">
        <span class="flex flex-col bg-blue-800 rounded-4xl w-fit p-4">Impacto Global</span>
        <span class="text-white text-4xl font-bold">Transformando Comunidades</span>
        <p class="text-gray-300 text-xl text-center">Cada historia representa vidas transformadas y comunidades fortalecidas mediante el acceso a las Sagradas Escrituras en su lengua materna.</p>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 px-10 gap-4 mt-6">
                <div class="bg-gray-800  justify-center items-center rounded-xl flex-1 flex flex-col w-fit px-6 py-8 space-y-2">
                    <div class="text-blue-600 bg-blue-300 rounded-2xl p-3">
                    <Users size="28"/>
                    </div>
                    <span class=" font-medium text-white">Crecimiento Espiritual</span>
                    <p class="text-gray-400">Las comunidades experimentan un crecimiento espiritual profundo
                        al acceder a las Escrituras en su idioma nativo.
                    </p>
                </div>
                <div class="bg-gray-800  justify-center items-center rounded-xl flex-1 flex flex-col w-fit px-12 py-8 space-y-2">
                    <div class="text-green-600 bg-green-200 rounded-2xl p-3">
                    <Languages size="28"/>
                    </div>
                    <span class=" font-medium text-white">Preservación Cultural</span>
                    <p class="text-gray-400">El trabajo de traducción fortalece y preserva las lenguas indígenas para las futuras generaciones.</p>
                </div>
                <div class="bg-gray-800  justify-center items-center rounded-xl flex-1 flex flex-col w-fit px-12 py-8 space-y-2">
                    <div class="text-purple-600 bg-purple-200 rounded-2xl p-3">
                    <Heart size="28"/>
                    </div>
                    <span class="font-medium text-white">Empoderamiento</span>
                    <p class="text-gray-400">Los traductores desarrollan habilidades y confianza, apropiándose
                        de su propio proyecto de traducción.
                    </p>
                </div>
            </div>
    </div>
</section>