---
import Container from "../components/Container.astro";
import { Star } from "@lucide/astro";
import { Sparkles } from "@lucide/astro";
import { Mountain } from "@lucide/astro";
import { Lightbulb } from "@lucide/astro";
import { Link } from "@lucide/astro";
import Layout from "../layouts/Layout.astro";
---

<section
  class="flex flex-col items-center justify-center text-center space-y-4"
>
  <Container>
    <div class="flex-1 flex flex-col justify items-center">
      <div class="bg-amber-100 text-amber-600 px-3 py-3 rounded-full mb-8">
        <Star size="25" />
      </div>
      <span class="text-3xl font-bold">Nuestros Valores</span>
      <span class="py-4 text-xl text-gray-600"
        >Los principios que guían nuestro ministerio y trabajo diario</span
      >

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6 mt-8">
        <div
          class="flex-1 flex flex-col justify-center bg-white shadow-lg rounded-xl p-5 space-y-2 hover:shadow-xl transition-all duration-200"
        >
        <div class="flex justify-center">
        <div>
          <div
            class="text-green-600 bg-green-100 rounded-full p-3 block"
          >
            <Sparkles size="25" />
          </div>
        </div>
        </div>
          <span class="font-medium">Alegría</span>
          <span class="text-gray-600 text-sm text-center"
            >Volviendo a la alegría lo más rápido posible</span
          >
          <span class="text-green-600 text-sm">Filipenses 4:4</span>
        </div>

        <div
          class="flex-1 flex flex-col justify-center bg-white shadow-lg rounded-xl p-5 space-y-2 hover:shadow-xl transition-all duration-200"
        >
        <div class="flex justify-center">
        <div>
          <div
            class="text-purple-600 bg-purple-100 rounded-full p-3 block"
          >
            <Mountain size="25" />
          </div>
        </div>
      </div>
          <span class="font-medium">Humildad</span>
          <span class="text-gray-600 text-sm text-center"
            >Caminando en humildad</span
          >
          <span class="text-purple-600 text-sm">Filipenses 2:3</span>
        </div>

        <div
          class="flex-1 flex flex-col justify-center bg-white shadow-lg rounded-xl p-5 space-y-2 hover:shadow-xl transition-all duration-200"
        >
        <div class="flex justify-center">
        <div>
          <div
            class="text-blue-600 bg-blue-100 rounded-full p-3 block"
          >
            <Lightbulb size="25" />
          </div>
        </div>
      </div>
          <span class="font-medium">Aprendizaje</span>
          <span class="text-gray-600 text-sm text-center"
            >Siempre aprendiendo</span
          >
          <span class="text-blue-600 text-sm">Salmo 25:4-5</span>
        </div>

        <div
          class="flex-1 flex flex-col justify-center bg-white shadow-lg rounded-xl p-5 space-y-2 hover:shadow-xl transition-all duration-200"
        >
        <div class="flex justify-center">
        <div>
          <div
            class="text-orange-600 bg-orange-100 rounded-full p-3 block"
          >
            <Link size="25" />
          </div>
        </div>
      </div>
          <span class="font-medium">Interdependencia</span>
          <span class="text-gray-600 text-sm text-center"
            >Trabajando de manera interdependiente</span
          >
          <span class="text-orange-600 text-sm">1 corintios 12:20-21</span>
        </div>

        <div
          class="flex-1 flex flex-col justify-center bg-white shadow-lg rounded-xl p-5 space-y-2 hover:shadow-xl transition-all duration-200"
        >
        <div class="flex justify-center">
        <div>
          <div
            class="text-red-600 bg-red-100 rounded-full p-3 block"
          >
            <Star size="25" />
          </div>
        </div>
      </div>
          <span class="font-medium">Excelencia</span>
          <span class="text-gray-600 text-sm text-center"
            >Sirviendo a Dios con excelencia</span
          >
          <span class="text-red-600 text-sm">Romanos 12:11</span>
        </div>
      </div>
    </div>
  </Container>
</section>
