---
import { BookOpen } from '@lucide/astro';
---


<section class="min-h-screen bg-gray-100 p-8">
    <div class="flex flex-col justify-center items-center text-center space-y-6">
      <span class="font-bold text-5xl">Tres Voces, Una Misión</span>  
      <p class="text-xl max-w-lg text-gray-600">Conoce las experiencias de quienes están transformando comunidades a través de la traducción</p>
    </div>
    <div class="bg-white rounded-xl shadow-[0_0_6px_0_rgba(0,0,0,0.15)] mt-15 w-fit p-8">
        <div class="flex flex-col text-center">
            <span class="text-3xl font-bold">Alberto</span>
            <span class="text-blue-600 font-medium">Traductor Indígena</span>
        </div>
        <p class="text-gray-700 mt-8">
            Para Alberto, un traductor indígena, la traducción puede ser desafiante, algunas veces se encuentra con palabras o frases
            que son muy difíciles de traducir a su propia lengua.
            Él dice que cada una de las <span class="text-blue-600 font-medium">herramientas de traducción</span>
            ha sido de mucha bendición, en esos momentos de dificultad,
            el consultar una nota de traducción, el diccionario de términos claves y la traducción simplificada, lo ayudan a despejar
            la mente y abordar la traducción con diferentes sugerencias y alternativas.
            Por otro lado, el trabajo de revisión con sus compañeros de equipo lo ha ayudado a 
            <span class="text-blue-600 font-medium">crecer espiritualmente</span>
            y a compartir con otros lo que ha recibido de parte de Dios y a la vez también nutrirse con lo que sus
            hermanos están aprendiendo del texto bíblico.
        </p>
        <div class="flex justify-center items-center">
            <p class="text-blue-900 font-medium bg-blue-100 mt-8 max-w-2xl rounded-r-2xl p-8  border-l-4 border-blue-400">
                "Gracias al uso de las herramientas en el proceso de traducción de las Historias Bíblicas Abiertas, 
                Alberto y su equipo de traducción, han adquirido conocimientos claves que les han ayudado a aclarar 
                las dudas de la comunidad en el proceso de comprobación. La comunidad, al entender el texto bíblico 
                traducido a su idioma, también ha crecido espiritualmente."
            </p>
        </div>
    </div>

    <div class="bg-white rounded-xl shadow-[0_0_6px_0_rgba(0,0,0,0.15)] mt-15 w-fit p-8">
        <div class="flex flex-col text-center">
            <span class="text-3xl font-bold">Óscar</span>
            <span class="text-green-600 font-medium">Traductor de Etnia Indígena</span>
        </div>
        <p class="text-gray-700 mt-8">
           Por su parte, Óscar, traductor de otra etnia indígena, cuenta que las 
           <span class="text-green-600 font-medium">herramientas de traducción</span>
           le han aclarado sus dudas y lo han ayudado a entender las palabras o frases del texto original y su contexto,
            como resultado logra pensar más en su idioma y su cultura y expresar mejor las palabras en su idioma.
        </p>
        <div class="flex justify-center items-center">
            <p class="text-green-900 font-medium bg-green-50 mt-8 max-w-2xl rounded-r-2xl p-8  border-l-4 border-green-400">
                Ahora, como entiende mejor las palabras y su contexto, ha logrado traducir mucho más rápido
                y depende menos de Ruth, la facilitadora venezolana que lo apoya.
            </p>
        </div>
    </div>

    <div class="bg-white rounded-xl shadow-[0_0_6px_0_rgba(0,0,0,0.15)] mt-15 w-fit p-8">
        <div class="flex flex-col text-center">
            <span class="text-3xl font-bold">Ruth</span>
            <span class="text-purple-600 font-medium">Facilitadora Venezolana</span>
        </div>
        <p class="text-gray-700 mt-8">
           Ruth coincide con Óscar, en que las herramientas les permiten
           <span class="text-purple-600 font-medium">aclarar muchas dudas</span>
           a los traductores, y ha sido testigo de cómo él está creciendo como traductor, está desarrollando
           nuevas habilidades y está haciendo consultas tomando en cuenta el texto literal y simplificado.
        </p>
        <div class="flex flex-col justify-center items-center">
            <div class="bg-purple-100 rounded-xl w-fit p-4 mt-4">
                <p class="text-purple-900 font-medium bg-purple-50 mt-8 max-w-2xl rounded-r-2xl p-8  border-l-4 border-purple-400">
                Óscar le pregunta: "Aquí en la traducción sugerida dice esto y en la versión simplificada dice tal cosa,
                pero ¿será que yo puedo poner esto?"
                </p>
                <p class="text-purple-900 font-medium bg-purple-50 mt-8 max-w-2xl rounded-r-2xl p-8  border-l-4 border-purple-400">
                Ruth afirma: "Hace preguntas mejor argumentadas porque está entendiendo, aunque a veces no sabe exactamente
                cómo decirlo en su lengua, él está entendiendo mejor el texto y eso me parece algo bellísimo".
                </p>
            </div>
        </div>
        <p class="mt-4 text-gray-700">La facilitadora Ruth cuenta que los creyentes de la comunidad se están 
            <span class="text-purple-600 font-medium">apropiando cada vez más de su propio proyecto</span>
            y que, sobre todo Óscar y todas las personas que van participando de la traducción, están adquiriendo un mayor
            entendimiento sobre las Sagradas Escrituras.
        </p>
        <p class="text-gray-700 mt-4">
            Para ella ha sido realmente alentador ver que hay un equipo que permanentemente está trabajando tanto
            del lado de unfoldingWord como de Idiomas Puentes que se esfuerza en desarrollar, lo mejor posible,
            no solo el paquete de recursos, sino también aplicaciones para la lectura.
        </p>
        <div class="flex flex-col justify-center items-center mt-4">
           <p class="bg-purple-50 rounded-2xl w-fit p-8  border-1 border-purple-200 text-purple-900 max-w-2xl font-medium">
            Ruth culmina: "Al principio era bastante intimidante, tanto como para mí como para Óscar, ser parte del equipo
            de traducción, porque, bueno, es la palabra del Señor, nadie quiere equivocarse, es algo que nos da temor; 
            y ver cómo el Señor poco a poco nos ha ido brindando las herramientas para hacer lo que Él mismo ha puesto
            en nuestro corazón, para mí es experimentar ser miembro del cuerpo del Señor en un nivel más profundo,
            porque sin lugar a dudas, no habría forma en que nosotros pudiésemos hacer nada si no tuviésemos todo ese
            equipo que nos respalda".
           </p>
        </div>
    </div>
</section> 